@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@400;500;600&family=Red+Hat+Display:wght@400;700;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    font-family: lato;
    font-size: .938rem;
    background-color: #fff;
}

:root {
    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    --header-height: 3rem;
    --main-color-one: rgb(243, 182, 18);
    --main-color-two: rgb(22, 31, 59);
    --main-color-three: rgb(243, 182, 18);
    --heading-color: rgb(51, 51, 51);
    --light-color: rgb(102, 102, 102);
    --extra-light-color: rgb(153, 153, 153);

    --heading-font: Lato, sans-serif;
    --body-font: Lato, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    margin-left: auto;
    margin-right: auto;
}


/*================= NAVBAR STYLING ==============*/

.nav {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_menu {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color: #fff;
    bottom: 0;
    border-radius: 5px;
    box-shadow: 0 -4px 4px rgba(0, 0, 0, .15);
    padding: 10px;
    left: 0;
    z-index: 100;
}

.nav_logo img {
    width: 100px;

}

.nav_list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.nav_link {
    display: grid;
    font-size: 18px;
    font-weight: 600;
    color: var(--main-color-two);
}

.active_link {
    color: var(--main-color-one);
}

.nav_link:hover {
    color: var(--main-color-one);
}

.nav_icon {
    text-align: center;
    font-size: 20px;
}

.nav_btns {
    padding: 30px;
    font-size: 25px;
    display: flex;
}

.dot-container {
    margin-inline: 2.5rem;
    position: relative;
    display: inline-block;
}

.dot {
    position: absolute;
    top: -10px;
    right: -7px;
    width: 17px;
    height: 17px;
    text-align: center;
    font-size: 10px;
    color: #fff;
    border-radius: 50%;
    background-color: red;
    padding: 3px;
}

/* ===========MAIN SECTION STYLING============ */

/* ==========selling proporsition=============  */
.selling_section h1 {
    font-size: 3rem;
    color: var(--main-color-two);
    text-align: center;
    padding: 10px;
}

.selling_section h1:hover {
    color: var(--main-color-one);
}

/* ========search section====== */

.search_container {
    position: relative;
    text-align: center;
    margin-top: 30px;
}

.search_container input[type="text"] {
    width: 90%;
    padding-right: 50px;
    height: 70px;
    font-size: 17px;
    border-radius: 30px;
    outline: none;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.search_container i {
    position: absolute;
    font-size: 25px;
    top: 50%;
    flex-shrink: 0;
    right: -30px;
    color: var(--main-color-two);
    transform: translateY(-50%);
    /* pointer-events: none; */
}

/*============ category section ==============*/

.category_section {
    width: 100%;
    margin-top: 3rem;
    padding: 30px;
}

.category_header {
    display: flex;
    justify-content: space-between;
}

.category_header h2 {
    color: var(--main-color-two);
    font-weight: 600;
    font-size: 25px;



}

.category_header a {
    color: var(--main-color-one);
    font-size: 15px;

}

.category_header a:hover {
    text-decoration: underline;
}

.categories {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;
    margin-top: 2rem;
}

.categories img {
    width: 60px;

}

.carts {
    display: block;
    background-color: rgb(242, 227, 186);
    width: 120px;
    height: 120px;
    text-align: center;
    border-radius: 15px;
    padding: 10px;

}

.carts p {
    color: var(--main-color-two);
    font-size: 18px;
}

.carts:hover {
    opacity: 0.7;
}

/* ADS section */

.swiper-container {
    width: 100%;
    height: 300px;
    margin-top: 3.5rem;
    overflow-x: hidden;
    text-align: center;

}


.swiper-slide img {
    width: 400px;

}

/* 
.swiper-pagination {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    margin-bottom: -1.5rem;
    padding: 10px;
} */

/* ==============recomended services============ */

.services_section {
    margin-top: 3rem;
}

.service-heading {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    padding: 10px;
}

.service-heading h2 {
    font-size: 20px;
}

.service-heading a {
    color: var(--main-color-one);
}

.service-heading a:hover {
    text-decoration: underline;
}

.service_data {
    padding: 18px;
    margin: auto;
    background-color: #fbf9f9;
    box-shadow: 5px 4px 4px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
    border-radius: 5px;
    cursor: pointer;
}

.service-header {
    display: flex;
    gap: 1.5rem;
}

.service-header img {
    width: 130px;
    height: 120px;
    border-radius: 6px;
}

.header_text {
    margin-top: 1rem;
}

.discount {
    width: 70px;
    height: 30px;
    padding: 5px;
    font-weight: 600;
    color: #fff;
    background-color: var(--main-color-one);
    position: absolute;
    border-bottom-right-radius: 10px;
}


.startoff_price {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
}

.service_icon-star {
    color: var(--main-color-one);
}

/* =================expert section======================= */


.expert_section {
    margin-top: 3.5rem;
}

.expert_heading {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    padding: 10px;
    font-size: 15px;
}

.expert_heading a {
    color: var(--main-color-one);
}

.expert_heading a:hover {
    text-decoration: underline;
}

.expert-header {
    display: flex;
    gap: 1rem;
}

.expert-header img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.header-text {
    margin-top: 1rem;
    text-align: left;
}

.expert_data {
    padding: 15px;
    margin: auto;
    background-color: #fbf9f9;
    box-shadow: 5px 4px 4px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 190px;
    border-radius: 5px;
    cursor: pointer;
}

.expert_works {
    margin-top: 1rem;
    text-align: left;
}

.expert_works i {
    color: var(--main-color-one);
}

/* ===================customized post styling===================== */

.customized_post {
    display: flex;
    width: 430px;
    border-radius: 30px;
    height: 220px;
    padding: 18px;
    margin: auto;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 3rem;
    border: 2px solid var(--main-color-one);
}

.customized_post img {
    width: 150px;
    height: 195px;
}

.post_text h3 {
    font-size: 18px;
    font-weight: 700;
}

.post_text p {
    margin-top: 1rem;
    font-size: 17px;
    font-weight: normal;
    /* text-align: center; */
}

.post-btn {
    margin-top: 1rem;
    background-color: var(--main-color-one);
    padding: 10px;
    border: none;
    width: 150px;
    border-radius: 20px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}

/* ======================Trending services styling======================= */

.trending_services {
    margin-top: 3rem;

}

.trend_heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 10px;
    font-size: 18px;
}

.trend_heading a {
    color: var(--main-color-one);
}

.trend_heading a:hover {
    text-decoration: underline;
}

.trend_data {
    width: 360px;
    height: 355px;
    margin: auto;
    text-align: center;
    padding: 18px;
    background-color: #fbf9f9;
    box-shadow: 5px 4px 4px 5px rgba(0, 0, 0, 0.1);


}

.Trends img {
    width: 300px;
    border-radius: 10px;
}

.trend-discount {
    width: 70px;
    height: 30px;
    padding: 5px;
    font-weight: 600;
    color: #fff;
    background-color: var(--main-color-one);
    position: absolute;
    border-bottom-right-radius: 10px;
    top: 0;
    margin-top: 1.2rem;
    margin-left: 1rem;
}

.Trends h3 {
    font-size: 20px;
    margin-top: 1rem;
}

.trend-btn {
    margin-top: 1rem;
    background-color: var(--main-color-one);
    padding: 10px;
    border: none;
    width: 150px;
    border-radius: 20px;
    color: #fff;
    font-weight: 700;
    font-size: 15px;

}

/* =========================testimonial styling ==================================*/

.testimonial_section {
    margin-top: 3rem;
}

.testimonial_content {
    padding: 18px;
    height: 300px;
}

.testimonial_heading {
    text-align: center;

}

.testimonial_heading h2 {
    font-size: 30px;
    margin-bottom: .25rem;
}

.testimonial_data {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
}

.testimonial_header {
    display: flex;
    gap: 1rem;

}

.testimonial_header img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.testimonial_icon-star {
    color: var(--main-color-one);
}

.testimonial_description {
    text-align: center;
}

.swiper-pagination-testimonial {
    width: 50px;
    height: 50px;
    position: absolute;
    margin-right: 3rem;
}



/* Footer styling */

.footer {
    margin-top: 3rem;
    display: none;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.footer-content h3 {
    font-size: 20px;
    font-weight: 600;
}


.footer-content ul {
    margin-top: .5rem;
}

.footer-content li {
    margin-bottom: .5rem;
}

.footer-content a {
    color: var(--main-color-two);
}

.footer-content a:hover {
    color: var(--main-color-one);
}

.footer-links {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    box-shadow: 0 -4px 4px rgba(0, 0, 0, .15);
    background-color: #e8e4e4;
    padding: 10px;

}


.footer_rows {
    color: var(--main-color-one);
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.footer_social {
    font-size: 1.2rem;
    margin-right: 1rem;
    color: var(--main-color-two);
}

.footer_social:hover {
    color: var(--main-color-one);
}

.footer-links img {
    width: 100px;
}

/* media query section */

/* for small screens */

@media screen and (max-width: 350px) {

    .nav_link {
        font-size: 15px;
    }

    .nav_list {
        gap: 1.5rem;
    }

    .selling_section h1 {
        font-size: 35px;
        padding: 5px;
    }

    .search_container input[type="text"] {
        width: 300px;
    }


    .search_container i {
        right: 35px;
    }

    .category_section {
        margin-top: 1rem;
        max-width: 350px;
        padding: 15px;
    }

    .category_header h2 {
        font-size: 20px;
    }

    .categories img {
        width: 30px;

    }

    .carts {
        width: 90px;
        height: 90px;
    }

    .carts p {
        font-size: 15px;
    }

    .swiper-container {
        margin-top: rem;
    }

    .swiper-slide img {
        width: 300px;

    }

    .services_section {
        margin-top: 1rem;
    }

    .service-heading {
        padding: 5px;

    }

    .service-heading h2 {
        font-size: 18px;
    }

    .service_data {
        width: 300px;
    }

    .service-header img {
        width: 90px;
        height: 80px;
    }

    .discount {
        width: 70px;
        height: 26px;
        font-size: 15px;
    }

    .header_text {
        margin-top: -.4rem;
    }

    .expert_heading {
        padding: 3px;

    }

    .expert_heading h2 {
        font-size: 18px;
    }

    .expert-header img {
        width: 70px;
        height: 70px;
    }

    .expert_data {
        width: 300px;
    }

    .customized_post {
        width: 320px;
        height: 200px;
        padding: 5px;
        /* margin-bottom: -1rem; */
        border-radius: 20px;

    }

    .customized_post img {
        width: 250px;
        height: 150px;
        position: relative;
        top: 2.5rem;

    }

    .customized_post h3 {
        font-size: 15px;
    }

    .customized_post p {
        font-size: 13px;
    }

    .post_text {
        text-align: center;
        margin-top: 1rem;
    }

    .post-btn {
        width: 120px;
        padding: 5px;
        font-size: 15px;

    }

    .trend_data {
        width: 300px;
        height: 300px;
    }

    .Trends img {
        width: 235px;
    }

    .trend-btn {
        width: 150px;
        padding: 8px;
        font-size: 15px;
    }

    .testimonial_header img {
        width: 50px;
        height: 50px;
        margin-bottom: .5;
    }

    .testimonial_description {
        margin-top: -2rem;
    }


    .testimonial_content {
        margin-top: -2rem;
    }


}

@media screen and (min-width: 568px) {
    .categories {
        grid-gap: 2rem;
        align-items: center;
        justify-content: center;

    }

    .search_container input[type="text"] {
        width: 400px;
    }


    .search_container i {
        right: 6.5rem;
    }

    .swiper-slide img {
        width: 450px;
    }

    .service_data {
        width: 450px;
    }

    .expert_data {
        width: 450px;
    }



    .expert-header img {
        width: 100px;
        height: 100px;
    }

    .customized_post {
        border-radius: 20px;
    }

    .trend_data {
        width: 400px;
        height: 400px;
    }

    .Trends img {
        width: 330px;
    }

    .trend-btn {
        font-size: 15px;
    }

    .testimonial_content img {
        width: 100px;
        height: 100px;
    }

    .testimonial_header {
        margin-bottom: -1rem;
    }


}

@media screen and (min-width: 768px) {
    .nav_menu {
        bottom: initial;
        top: 0;
        background-color: #fff;
        position: relative;
        box-shadow: none;

    }

    .nav_icon {
        display: none;
    }

    .nav_list {
        gap: 2rem;
        margin-top: -.5rem;
        font-size: 20px;
    }

    .nav_logo {
        width: 250px;
    }

    .search_container input[type="text"] {
        width: 500px;
    }


    .search_container i {
        right: 9.5rem;
    }

    .categories {
        display: flex;
    }

    .swiper-slide img {
        width: 600px;
    }

    .service_data {
        width: 500px;
    }

    .expert-header img {
        width: 150px;
        height: 120px;
    }

    .expert_data {
        width: 500px;
    }

    .customized_post {
        width: 500px;
    }

    .trend-btn {
        font-size: 20px;
        width: 200px;
    }

    .trend_data {
        width: 400px;
    }

    .testimonial_content img {
        width: 100px;
        height: 70px;

    }

    .footer {
        display: block;
    }



}

@media screen and (min-width: 1050px) {
    .nav_logo img {
        width: 350px;
    }

    .nav_list {
        gap: 5rem;
    }

    .nav_link {
        font-size: 26px;
        font-weight: 900;
    }

    .search_container input[type="text"] {
        font-size: 20px;
        width: 550px;
    }

    .search_container i {
        right: 18rem;
    }

    .category_header {
        margin: 40px;
    }

    .trend_heading {
        margin: 50px;
    }

    .testimonial_content {
        margin-right: 15px;
        margin-left: 15px;
    }

    .customized_post {
        margin-top: 5rem;
    }
}